body {
    height: 100vh;
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    background-color: transparent;
}

h2 {
    margin-top: 3em;
    margin-bottom: 2em;
    padding: 0 !important;
    -webkit-column-break-before: always;
    column-break-before: always;
}

p {
    line-height: 175% !important;
    text-indent: 7%;
}

#outer-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 7% 7% 10% 7%;
}

#inner-wrapper {
    overflow: hidden;
    overflow-style: none;
    height: 100%;
    width: 100%;
    /* z dovodu tu nefunguje vw pred lollipopom, ale berie to absolutnu hodnotu nad sirku displeja ok */
    -webkit-column-width: 2000px;
    column-width: 2000px;
    -webkit-column-fill: auto;
    column-fill: auto;
    -webkit-column-gap: 0;
    column-gap: 0;
}

#bookmark {
    position: absolute;
    height: 3%;
    top: 0;
    right: 7%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    visibility: hidden;
    transition: transform 200ms;
}

#page-number-wrapper {
    position: absolute;
    height: 8%;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page-number {
    font-size: 0.65em;
}

.translateUp {
    transform: translateY(-100%);
}

.translateDown {
    transform: translateY(100%);
}

#bookmark svg {
    height: 100%;
    width: auto;
    filter: drop-shadow(0 2px 2px #ABABAB);
}

#bookmark-path {
    fill: currentColor;
}

@font-face {
    font-family: "AT Typewriter";
    src: url("atwriter.ttf");
}

@font-face {
    font-family: "Neuton";
    src: url("Neuton-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-Regular.ttf");
}

@media screen and (orientation : landscape) {
    #outer-wrapper {
        padding: 5% 5% 7% 5%;
    }

    #bookmark {
        right: 5%;
        height: 6%;
    }
}
